/*@font-face:url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);*/
 @font-face {
    font-family: OpenSansHebrew-Regular;
    src: url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
}

.userSummaryH {
   height: 25px;
color: black;
font-size: 20px;
text-align: center;
width: 230px;
}
.userSummaryH2 {
   height: 25px;
color: black;
font-size: 20px;
text-align: center;
width: 334px;
}
.myCurrentTimeClass {
        margin-right: 52px;
    background-color: #007F88;
    color: white;
    width: 168px;
    padding-right: 6px;
    margin-top: 10px;

}
.userSummaryR {
     
    /*background-color: pink;*/
    width: 300px;
  
    margin-right: 330px;
    
    position:absolute;
}
.userSummaryL {
    
    /*width: 258px;*/
    /*background-color: blue;*/
   
    margin-right: 40px;
      position:absolute;
      margin-top:20px;
}
.gridStyle {

 font-family: 'OpenSansHebrew-Regular';
  
  border: 1px solid rgb(212,212,212);
  width: 1300px;
  min-height:450px;
  
  margin-top:10px;
 

/*align-content:center;*/
}
.ui-grid-viewport {
 overflow-x:hidden !important;
    

}
.ngRow.even {
    background-color:white;
}  

.ngRow.selected  {
background-color:white;
}

.gridBtnCss {
margin-right: 8px;
    margin-top: -6px;
    cursor: pointer;
    box-shadow:none;
    font-size:20px;
    color:#58585A;
/*background-image:url('../img/delete_ico.png');*/
/*height:19px;
width:17px;*/
}
.gridBtnCss:hover {
opacity:0.8;
}

.deleteHeader {
background-color:white;
color:#58585A;
font-style:normal;
}
.dateCell {
    color:#007F88;
text-align:center;
}
.codeCell {
text-align:center;
color:#007F88;

}
.nameCell {

color:#007F88;
}
.nameCell:hover {
text-decoration:underline;
}

.recomendedScenariosBtn
          {
background-color: #D1AD01;
color: white;
margin-top: -11px;
/* margin-right: 369px; */
display: inline-block;

   }
.recomendedScenariosBtn:hover 
{
color:white;
}
.scenarioPlayEditTrashBtn
{
display:inline-block;
background-color:white;
border:1px solid #DCB601;
margin-top:-10px;
  border-radius: 100px 100px 100px 100px;
  width:28px;
  height:28px;

 }
.userSummaryPlayBtnGliph {

color:white;
}
.userSummaryPlayBtn
{
margin-right: 70px;
position: absolute;
margin-top: -58px;

 }
 .youtubeoHolderuserSummary:last-child .userSummaryPlayBtn {
    
    margin-right: -132px;
position: absolute;
margin-top: 18px;
    
    }
.userSummaryPlayBtn:hover {
    
}
.bottomDivElements {
margin-top:308px;

}
.scenarioPlayEditTrashBtn:hover {
     /*display:block;*/
background-color:#DCB601;
border:1px white solid;
}
.btnGroup
{
    display: block;
    cursor: pointer;
    margin-top: -38px;
    position: absolute;
    margin-right: -37px;

 }
.scenarioPlayEditTrashGlyph {
   margin-right: 7px;
  margin-top: 5px;
  color: #DCB601;
    display:block;

 
} 
.scenarioPlayEditTrashGlyph:hover {
      display:block;

    color:white;
    }
.backgroundArrowsGrey {
opacity:0.2;
}

.testorangebackarrow {
opacity:1;
color:orange;
background-color:orange;
}
.regularOpacityArrows {
    opacity:1;
}
.sceneHover
{
height:800px;
 }

.sceneHover .sceneHoverChilds_border
{
    /*yellow*/
border:2px solid #DCB601;
color:#DCB601;
opacity:1;

}

.hoverYellowSceneElements {
    border:2px solid #DCB601;
color:#DCB601;
background-color:#DCB601;
opacity:1;
}

.hoverYellowSceneElements_GreenDistractors{
    border:2px solid #08828B !important;
    background-color:red;
    color:red;
opacity:1;

}

.hoverOnDistractorGrey:before {
    /*border:2px solid pink !important;
    background-color:blue;*/
       content:"\e144";
    color:white;
      font-family: "Glyphicons Halflings";
      position:absolute;
      margin-top:-2px;
     
}
.hoverOnDistractorGrey {
        background-color:#58585A !important;
        border:2px solid #58585A !important;
     
    
}
.clickedGreenDistractorToLink:before {
         content:"\e144";
    color:white;
      font-family: "Glyphicons Halflings";
      position:absolute;
      margin-top:-2px;

}
.clickedGreenDistractorToLink {
          background-color:#08828B !important;
        border:2px solid #08828B !important;
}
.sceneHover .sceneHoverChildscolor
{
/*border:2px solid #DCB601;*/
border:2px solid #08828B;
background-color:white;
opacity:1;


}
.sceneHover .sceneHoverChildsBorderLine
{
/*border:2px solid yellow;*/
border:2px solid #08828B;
opacity:1;
}

.bigLinkBtn_hover {
    background-color:#08828B;
    color:white;
}

.bigLinkBtn_hover:hover {
    border:2px solid #DCB601;
    border-spacing:150px;
    border-radius: 150px;
}

.ourModal .modal-header{
         
    background-color:#58585A;
    
          }
.ourModal .modal-title {
font-size:20px;
    color:white;
}
.ourModal .modal-dialog {
width:500px;
}
.addOptionBTN {
background-color:#58585A;
color:white;
margin-right:3px;
}
.addOptionBTN:hover {
background-color:#69696B;
color:white;
}
.myUserQueAndDistractorCollapseClass
          {

              margin-top:70px;
          }
.saveInteractionBTN {

    background-color:#DCB601;
    color:white;
}
.saveInteractionBTN:hover {

    background-color:#E9C001;
    color:white;
}
.modalheadlineH2 {
    font-size: 13pt;
font-weight: bold;
color:#007F88;
margin-left:5px;
}


.saveMovBTN {

    background-color:#DCB601;
    color:white;
}
.saveMovBTN:hover {

    background-color:#E9C001;
    color:white;
}
.loadMovBTN {
    text-align:center;
    background-color:#DCB601;
    color:white;
}
.loadMovBTN:hover {

    background-color:#E9C001;
    color:white;
}

/*.BreadCrumb_a {
    color:blue;
    display:inline-block;
     
}
.BreadCrumb_a:hover {
    
    text-decoration:underline;
     
}*/
#myBreadCrumbsHolder li {
    display:inline-block;
    cursor:pointer;
      color:blue;
}
    #myBreadCrumbsHolder li:hover {
    color:blue;
    text-decoration:underline;
    }
#myBreadCrumbsHolder li:after {
            content: ">";
        }
#myBreadCrumbsHolder li:last-child:after {
            content: none;
        }
.myUserQueAndDistractorCollapsePreviewModalClass {
   
margin-right: -35px;
display: block;
margin-top: 58px;

}
.firstScenarioIndicator_hidden {

display:none;
}
.firstScenarioIndicator_show {
display:block;

}
.UsermyUserDistractorClass {

  background-color: green;
    color: white;
    /* display: block; */
    text-align: right;
    margin-top: 9px;
    width: 274px;
    /*height: 45px;*/
    padding-top: 7px;
    white-space: normal;
    font-size:15pt;
    padding-bottom:7px;
}
.myUserQueClass h3
{ 
    white-space: normal;

    color: white;
padding-right: 44px;
font-size: 14pt !important;

}
.myUserDistractorClass{
              background-color:black;
               color: white;
               display:block;
               text-align:right;
               margin-top:5px;
               width:200px;
              font-size:20pt;
          }

.myUserDistractorPrevireModalClass {
background-color: green;
color: #fff;
text-align: right;
margin-top: 6px;
width: 163px;
padding-top: 2px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
font-size: 11pt;
padding-bottom: 2px;

}
.myUserDistractorClass:hover {
background-color:green;

color: white;
}
h3 {
color:white;
padding-right:40px;
font-size:14pt;
}
.UserquestionBack {
  background-image: url('../images/interactionDiv.png');
  width: 355px;
    margin-top: -578px;
    /*margin-right: 130px;*/
  position: absolute;
  height: 572px;
 
 font-family:'Open Sans Hebrew';

}


.isLoginPossibleClass {
background-color: red;
color: white;
font-size: 22px;
padding-right: 10px;
margin-top: 8px;
}


.userSummaryContainerDiv {
    width: 800px;
    height: auto;
    margin: 0px auto;
}

.myUserSummaryAlign {
    width: 663px;
    height: auto;
    margin: 0px auto;
        /*margin-top: 0px;
    margin-right: 90px;*/
}



#questionBack  {
    background-image: url('../images/interactionDiv.png');
  width: 290px;
  margin-top: -565px;
  /* z-index: 9; */
  position: absolute;
  height: 560px;
 
 font-family:'Open Sans Hebrew';

}
#questionBackPreviewModal {

background-image: url('../images/interactionDiv.png');
width: 182px;
margin-top: -219px;
/* z-index: 9; */
/* min-height: 237px; */
font-family: 'Open Sans Hebrew';
margin-right: 1px;
height: 209px;
}


.breadCrumbsBakClass {
width: 463px;
margin-right: 2px;
background-color: #e5e5e5;
margin-top: 10px;
padding-right: 6px;
padding-top: 5px;
padding-bottom: 5px;
}

.isLeftArrow .arrowHead {
               width:18px;
    height:23px;
background-image: url('../images/ArrowLeftDir.png');

    position: absolute;
 margin-top: -136px;

}
.isRightArrow .arrowHead {
          width:18px;
    height:23px;
background-image: url('../images/ArrowRightDir.png');

    position: absolute;
  margin-top: -136px;

}
.isSelfArrow .arrowHead {
          width:27px;
    height:35px;
background-image: url('../images/ArrowSelftDir.png');

  position: absolute;
margin-top: -136px;
    margin-right: -41px !important
}

.myOpeningTextClass {
display:none;}
/*.isFirstScenario .myOpeningTextClass  {
display:block;
}*/

.arrow {
    height: 2px;
    background-color: #007F88;
    position: absolute;
    margin-top: -125px;
}

.glyphicon.glyphicon-one-fine-full-dot {
    margin-bottom: -.8em;
    overflow: hidden;
}
.glyphicon.glyphicon-one-fine-full-dot:before {
    content:"\25cf";
    font-size: 3em;
}
.glyphicon.glyphicon-one-fine-empty-dot {
    margin-bottom: -.8em;
    overflow: hidden;
}
.glyphicon.glyphicon-one-fine-empty-dot:before {
    content:"\25cb";
    font-size: 3em;
}
.myeditMovGlyphicon {
  font-size: 15px;
  margin-right: 89px;


}
.myDeleyeglyphicon {
          /*background-image: url('../images/delete_ico.png');*/
    /*width: 17px;
    height: 19px;*/
    /*background-repeat:no-repeat;*/
    cursor:pointer;
    font-size:20px;
      margin-top: 8px;
  margin-right: 5px;
}
.myDeleyeglyphicon:hover {
color:#58585A;
}
.placeHolderYoutubePreClass {
    
font-size: 45pt;
width: 100%;
text-align: center;
height: 100%;

}

#youtubeURL {
    width: 414px;
    float: right;
    display: inline-block;
    margin-left: 5px;
}
.myYoutubeIfreamUser {

    border:1px #58585A solid;
        /*margin-right:130px;*/
             width:1020px;
    height:580px;
}
.myYoutubeIfreamPreview
{
border:1px solid #ccc;
     margin-right: 0px;
width: 465px;
height: 200px;
}
.startPageContainerBody {
   direction:rtl;
   margin:0px auto;
   position:relative;  
   width:1024px;
   height:100px;
}
img.bg  {
     /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.yourSignUpRequstAcceptedClass {
color: #48B594;
    margin-right: -20px;
    width: 260px;
    background-color:white;
    font-weight:bold;
    padding-right: 10px;
    font-size:13px;
}
.loginPopupBackground {

      width: 260px;
    height: 320px;
    background-color: #2F2F2D;
    /*margin-right: 541px;
    margin-top: 55px;*/
    margin: 0px auto;
    margin-top:200px;
}
.loginPopupHeadlineColor {

margin-right:-34px;
}
.loginPopupHeadlineColor li {

color: white;
display: inline-block;
padding-right: 30px;
font-size: 24px;
margin-top: 20px;

}
.signInSelected {
background-color: #cecdcd;
width: 127px;
height: 67px;
margin-right: -6px;
margin-top: -54px;
}
.signUpSelected {
background-color: #cecdcd;
width: 127px;
height: 67px;
margin-right: 127px;
margin-top: -54px;
}
.loginPopupH2HeadlineColor {
    color:white;
    font-size:16px;
}
.loginPopupH3HeadlineColor {

color:white;
font-size:14px;
margin-right: -27px;
text-align:left;
margin-top:-10px;
}
.loginPopupTextInputBack {
         background-color: white;
    border: none;
    box-shadow: none;
    height: 36px;
    width: 212px;
   
    color: black;
    border: 1px red;
  
    
    font-size: 18px;
}
.userStartPasgeAlign {
  margin-right: 500px;
  margin-top: 149px;
}

    .userStartPasgeAlign h1 {
        margin-right: -450px;
background-color: black;
width: 440px;
height: 90px;
font-size: 50pt;
color: white;
padding: 5px 15px;
    }

    .userStartPasgeAlign h2 {
        margin-right: -450px;
background-color: black;
width: 440px;
height: 50px;
font-size: 27pt;
color: white;
padding: 3px 15px;
margin-top: -18px;
    }

.myOpeningDiv {
background-color: lightgray;
width: 547px;
height: 70px;
margin-top: 50px;
margin-right: -60px;
}

.myOpeningDiv .myOpeningDivSecondLayer{
padding-top:7px;
padding-right:10px;
}

.myOpeningDiv h3{
position: absolute;
margin-right: -39px;
display: inline-block;
margin-top: 10px;
font-size: 24pt;
color: black;

}

.myOpeningDiv input {
height: 55px;
font-size: 20pt;
border: 1px solid rgb(169, 169, 169);
margin-right: 156px;
}

.myOpeningDiv button {
height: 53px;
margin-top: -9px;
width: 150px;
font-family: OpenSansHebrew-Regular;
font-size: 20pt;
text-align: center;
padding: 0px 0px!important;
color: white;
background-color: black;
border: none;
margin-right: 5px;

}

.myOpeningDiv button:hover {

background-color: #58585A;
color:white;

}

.userEnterBTN {

        margin-top: -6px;
    height: 38px;
    width: 88px;
    font-size: 18px;
    font-weight:bold;
}
.loginPopupSignUp {

color:white;
font-size:14px;
margin-top: -27px;
    margin-right: 67px;
    cursor:pointer;

}


.myContainerMainDiv {
width: 1018px;
margin: 0 auto;
/* position: absolute; */


}





    .loginPopupSignUp:hover {
    text-decoration:underline;
    }
.loginPopupBackgroundAlign {

margin-right:20px;
}
ul .loginBtn {
    display:inline-block;
}
.loginBtn {
background-color: #5BBDA0;
    color: white;
    width: 212px;
    margin-top: 17px;
    margin-right: -40px;
        font-weight: bold;
    font-size: 18px;

}
    .loginBtn:hover {
        background-color:#48B594;
       color:white;
    }
/*.signUpBtn {
    background-color:#5BBDA0;
color:white;
width: 90px;
margin-top:5px;
}*/
.editorActivitiesNgGridBackgroung {
background-color:white;
}
.editorActivitiesH1Headline {
font-size:25px;
color:#585859;
margin-top: 0px;
    padding-top: 10px;
}
.addNewActivityBtn {
    background-color:#CBA801;
    color:white;

}
.addNewActivityBtn:hover {
    background-color:#DCB601;
        color:white;

}
.editorActivitiesNgGridAlign {
    margin-right:25px;
}

.ActivityNameH1 {

color: #585859;
font-size: 25px;
margin-right: 50px;
display: inline-block;
margin-left: 15px;
}
.floating {
   
    position: absolute;
margin-top: -78px;

}
.modal-header > popupCoustomHeader {
  background-color:red;
}
/*.ScenarioBTNClass:hover {
    float:left;
      background-image: url('../images/addScenarioBTNH.png');
    width: 120px;
    height: 110px;
}*/
.playBtnClass {
    /*background-image:url('../images/playPriv.png');*/
    background-color:black;
    opacity:0.4;
        width:100px;
    height:53px;
    position: absolute;
  margin-top: -53px;
  cursor:pointer;
}
.playBtnClass:hover {
    /*background-image: url('../images/playPriv_H.png');*/
    background-color:black;
    opacity:0.4;
    width: 100px;
    height: 53px;
}
.myPlayCircleGlyphiconClass {
color:white;
font-size:40px;
  margin-right: 40px;
  margin-top: 25px;
}
.myPlayCircleGlyphiconClass:hover {
color:#e5e5e5;
}
.scenarioHolder {
width:120px;

  overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    border: 2px solid transparent; 
}
.youtubeoHolder
{
background-color:#58585A;
color:white;
padding-right:5px;
 cursor:pointer;
    width:100px;
    height: 30px;
    padding-top: 5px;
      font-size: 15px;
}
.youtubeoHolderForUserSummary
{
background-color:#58585A;
color:white;
padding-right:5px;
 cursor:pointer;
    width:200px;
    height: 30px;
    padding-top: 5px;
      font-size: 15px;
}
.youtubeoHolderuserSummary {
    display:block;
    margin-top:17px;


}
#userSummaryRowsLi {

       display:block;
       /*margin-top:-370px;*/
       background-color:red;
       margin-right: 54px;
       opacity: 0.6;
}



.myUserSummaryAlign h1 {
font-size: 25pt;
color: #58585A;
text-align: center;
width: 800px;
margin: 40px -70px 10px 50px;
}

.youtubeoHolderTEXT {
   text-overflow: ellipsis; 
    white-space: nowrap; 
        overflow: hidden;
    width:90px;
    position:absolute;

}
.youtubeoHolderTEXTForUserSmmary {
   text-overflow: ellipsis; 
    white-space: nowrap; 
        overflow: hidden;
    width:190px;
    position:absolute;

}
.userScenariosList {
   display: inline-block;
position: absolute;

}

.editorScenariosList {
     display:inline-block;
     position: absolute;
}
.userSummaryRows {


/*display: inline-block;
position: absolute;*/

}
#userSummaryRowsLi div {
    width:500px;
    height:150px;
    background-color:lightgreen;

}
.editorUserDifferences {
width: 540px;
    height: 117px;
  /*margin-top: 537px;*/
    position: absolute;
    margin-right: 232px;
    border: 9px red solid;

}
.userSummaryArrow:before

{    
     content:"\e094";
    margin-top: 5px;
    margin-right: 94px;
        font-size: 25px;
         font-family: "Glyphicons Halflings";
         font-style: normal;
}












.circle{
    /*width:14px;
    height:14px;
    background-repeat:no-repeat;
    background-image:url('../images/distractorBTN.png');*/
    position:absolute;
    z-index:2;
      /*margin-top: 20px;*/

  /*font-size:20px;*/
  margin-right: -19px;
    margin-top: -134px;
}

.isTrue .circle{
    /*background-image:url('../images/distractorFullBTN.png');
background-repeat:no-repeat;
 width:14px;
    height:14px;
 border-style:none;*/
 position:absolute;
    z-index:2;
     /*font-size:20px;*/
     color:#E9C001;
margin-right: -9px;
margin-top: 21px;
}
  .tooltip.customClass {
                color: #880000;
                background-color: #ffff66;
                box-shadow: 0 6px 12px rgba(0,0,0,.175);
                z-index:9999999;
                position:absolute;
            }

 .distractorDot {

 	background-color: white;
     border:2px solid #58585A;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.addingLinkGlyphicon {
        background-color:#58585A;

}

.addingLinkGlyphicon:before{
    content:"\e144";
    color:white;
      font-family: "Glyphicons Halflings";

    font-size:14px;
    margin-top:2px;
    margin-right:1px;
   
      display:inline-block;
}

.distractorClickToLinkNewStyle {
     background-color:#08828B;
}
.distractorClickToLinkNewStyle:before {
 
    background-color:#08828B;
       content:"\e144";
    color:white;
      font-family: "Glyphicons Halflings";

    font-size:14px;
    margin-top:2px;
    margin-right:2px;
      display:inline-block;

}
/*.distractorDot:before{
  content:"\2b";
  font-family:"Glyphicons Halflings";
  line-height:1;
  color:blue;
  margin:10px;
  display:inline-block;
}*/

/*.glyphicon.glyphicon-one-fine-dot:before .changeGluphiconLinkClass {
  font-size: 70px;
}*/


.myAnswersSpanClass {
    border:1px solid #A8A8B7;
    background-color:white;
    position:absolute;
    width:90px;
   white-space: nowrap; 
  height: 22px;
    overflow: hidden;
    text-overflow: ellipsis; 
  margin-top: 21px;
  cursor: pointer;
  margin-right: 8px;
  padding-right:5px;
}
.myMovTumb {
margin-right:36px;
cursor:pointer;
z-index:3;
  position:absolute;
  margin-top:-13px;

}
.myPlusGlyphicon {
background-color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  padding-top: 12px;
  padding-right: 11px;
 margin-right: 25px;
    margin-top: 178px;
  display: block;
  border: 2px solid;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
  position: absolute;
  z-index: 44;
}
.myPlusGlyphicon:hover {
    
    color:#DCB601;
    border:2px solid #DCB601;

}
.myPancilGlyphicon {
background-color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  padding-top: 12px;
  padding-right: 11px;
  margin-right: 34px;
  margin-top: 218px;
  display: block;
  border: 2px solid;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.isChangeColor.myPancilGlyphicon {
    
    color:#DCB601;
    border:#DCB601 2px solid;
    margin-right:50px;
    }
.myLinkGlyphicon {
  /*background-color: black; TAMAR*/
  color: white;
  background-color:#08828B;
  font-size: 25px;
  width: 50px;
  height: 50px;
  padding-top: 12px;
  padding-right: 11px;
margin-right: 25px;
    margin-top: 178px;
  display: block;
  border: 2px solid black;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
  position: absolute;
  z-index: 44;
}

.myBiglinkBtn_GlyphiconGroup:before {
z-index:22;
position:absolute;
}

.myAnswersLinkSpanClass {
        cursor:pointer;
           position:absolute;
    z-index:3;
      border:1px solid #A8A8B7;
    background-color:white;
   margin-right: 97px;
  margin-top: 21px;
       background-image:url('../images/linkBTN.png');
        width: 22px;
  height: 22px;
   background-repeat:no-repeat;
  
}
  
.myDistractorBTNClass {
cursor:pointer;
list-style:none;
margin-right:20px;
 margin-top:5px;
 
}

.myDistractorPollClass {
width: 2px;
    background-color: #A8A8B7;
    position: absolute;
    margin-top: -130px;
    margin-right: 50px;
    z-index: 1;
}
.isChangeColor.myDistractorPollClass {
  width: 2px;
  background-color: #DCB601;
  position: absolute;
  margin-top: -45px;
  margin-right: -2px;
  z-index: 0;

}
/*.lilachTraying {

background-color:red;

}*/
.freezLine {
background-color:white;
padding-top: 85px;
height: 170px;
white-space: nowrap;
width: 1432px;
position: absolute;
top: 200px;
z-index: 3;
margin-top: -150px


}
.mainMoviesDiv> li {
    display:inline-block;
    /*background-color:blue;*/
    width:100px;
    margin-right:10px;
    

}

.addScenarioBTNClass {
    /*float:left;*/
      background-image: url('../images/addScenarioBTN.png');
    width: 100px;
    height: 80px;
     cursor:pointer;
     margin-top:0px;
     z-index:33333;
     position:absolute;
}
    .addScenarioBTNClass:hover {
          background-image: url('../images/addScenarioBTNH.png');
 
    }
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
font-family:'Open Sans Hebrew';
  padding: 0;
 /*direction:rtl;*/
 
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;

}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

 /*Responsive: Portrait tablets and up*/ 
@media screen and (min-width: 768px) {
  .container {

    /*max-width: 730px;*/
    width:100%;
        /*white-space: nowrap;*/

  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
