<div>
    <div class="scenarioHolder sceneHoverChilds_border" ng-mouseenter="isyoutubeHolderHoverEnterFunc()" ng-mouseleave="isyoutubeHolderHoverLeaveFunc()">
        <div class="youtubeoHolder">

            <div class="youtubeoHolderTEXT">{{scenario.myMovName}}</div>
            <!--<i class="glyphicon glyphicon-pencil myeditMovGlyphicon" ng-click="openAddMovieDialog(scenario)"></i>-->
        </div>
        <img ng-src="http://img.youtube.com/vi/{{scenario.videoId}}/1.jpg" alt="" />


        <div ng-click="openMovDialog(scenario)" class="playBtnClass">
            <!--<i class="glyphicon glyphicon-play-circle myPlayCircleGlyphiconClass"></i>-->
        </div>
          <div ng-show="isyoutubeHolderHover">
    <ul class="btnGroup" >
        <li  class="scenarioPlayEditTrashBtn"><i class="glyphicon glyphicon-play scenarioPlayEditTrashGlyph"></i></li>
        <li class="scenarioPlayEditTrashBtn"><i class="glyphicon glyphicon-pencil scenarioPlayEditTrashGlyph" ng-click="openAddMovieDialog(scenario)"></i></li>
        <li class="scenarioPlayEditTrashBtn"><i class="glyphicon glyphicon-trash scenarioPlayEditTrashGlyph"></i></li>
    </ul>
        </div>
    </div>
 
  
    <br/>

 <!--   <i class="glyphicon glyphicon-pencil myPancilGlyphicon" ng-show="!dataService.isBtnState" ng-click="openEditDialog(scenario)"></i>-->
    <!--<button class="btn btn-success" ng-show="!dataService.isSelectRelationship" id="myMovTumb" ng-click="openEditDialog(scenario)">+</button>-->
    <!--<img src="images/linkToBTN.png" alt=""  />-->
    <i class="glyphicon"  ng-click="scenarioClickToLink(scenario)" ng-show="dataService.isBtnState" ng-class="{'glyphicon-link':dataService.isBtnState, 'myLinkGlyphicon':dataService.isBtnState}"></i>
        <i class="glyphicon sceneHoverChilds_border" ng-click="openEditDialog(scenario)" ng-show="!dataService.isBtnState" ng-class="{'glyphicon-plus':scenario.interactions[0].distractors.length == 0,'myPancilGlyphicon':scenario.interactions[0].distractors.length > 0, 'myPlusGlyphicon':scenario.interactions[0].distractors.length == 0,'glyphicon-list':scenario.interactions[0].type == 'singleSelection', 'glyphicon-comment':scenario.interactions[0].type == 'endMessege'}"></i>

    <!--<button class="btn btn-success" ng-show="dataService.isSelectRelationship" id="Button1" >Click here</button>-->
    <!--<img src="images/whatToDoBTN.png" alt="" class="myMovTumb" />-->


    <br />

    <ul>
        <li class="myDistractorBTNClass" ng-repeat="distractor in scenario.interactions[0].distractors" ng-class="{isTrue:distractor.isRightAnswer}" style="position:absolute;">

            <div class="myDistractorPollClass sceneHoverChilds_border" ng-style="{height:800}"></div>

            <div ng-style="{'margin-top':(distractor.index * 25)}" ng-class="{isRightArrow:distractor.lineArrowDirection}">
          
                <div ng-style="{width:distractor.lineWidth,'margin-right':distractor.lineWidthForMargin * distractor.lineDirection}" class="arrow sceneHoverChildsBorderLine">
                


                </div>
                <div class="arrowHead" ng-style="{'margin-right':distractor.lineWidth * distractor.lineDirection}" ></div>
                   
                 <div class="circle"></div>
<!--           כאן מתחיל הקוד של המסיחים העיגולים-->
                 <div  ng-click="answerClickToLink(distractor,$event)" class="circle"> 
                     <a tooltip-placement="bottom"  tooltip="{{distractor.text}}" tooltip-class="customClass">
                     <div class="distractorDot sceneHoverChildscolor glyphicon" ng-mouseleave="removeGreenClass()" ng-mouseenter="addGreenClass()">

                     </div>

                     </a></div>

                <!--<img ng-click="toggle()" src="" alt="" class="circle" />-->
                    <span class="myAnswersSpanClass" ng-show="isShowDistractors">
                   
                </span>
<!--                ng-click="toggle()"  ng-show="isShowDistractors"-->
                <div class="myAnswersLinkSpanClass" ng-show="isShowDistractors" ng-click="answerClickToLink(distractor)"> </div>


            </div>

           <!-- <div ng-init="dataService.linkInitDistrctors(distractor,scenario)"></div>-->
        </li>

    </ul>
    <!--<i class="{{btnURL[btnarr]}} myPancilGlyphicon" ng-modle="btnarr" ng-click="changeBTN()"></i>-->
    <!--<img ng-src="images/{{btnURL[btnarr]}}" alt="" ng-modle="btnarr" ng-click="changeBTN()" />-->
    <!--<button ng-modle="btnarr" ng-click="change()">{{btnTxt[btnarr]}}</button>-->
</div>
