<div>

    <div class="scenarioHolder">
        <div class="youtubeoHolder">
            <div class="youtubeoHolderTEXT" ng-click="openAddMovieDialog(scenario)">{{scenario.myMovName}}</div>
            <i class="glyphicon glyphicon-pencil myeditMovGlyphicon" ng-click="openAddMovieDialog(scenario)"></i>
        </div>
            <img ng-src="http://img.youtube.com/vi/{{scenario.videoId}}/1.jpg" alt="" />
        <div ng-click="openMovDialog(scenario)" class="playBtnClass">
        </div>
    </div>
    <br/>
    <i class="glyphicon glyphicon-pencil myPancilGlyphicon" ng-show="!dataService.isBtnState" ng-click="openEditDialog(scenario)"></i>
    <!--<button class="btn btn-success" ng-show="!dataService.isSelectRelationship" id="myMovTumb" ng-click="openEditDialog(scenario)">+</button>-->
    <!--<img src="images/linkToBTN.png" alt=""  />-->
    <i class="glyphicon glyphicon-link myLinkGlyphicon" ng-show="dataService.isBtnState" ng-click="scenarioClickToLink()"></i>


    <!--<button class="btn btn-success" ng-show="dataService.isSelectRelationship" id="Button1" >Click here</button>-->
    <!--<img src="images/whatToDoBTN.png" alt="" class="myMovTumb" />-->


    <br />

    <ul>

        <li class="myDistractorBTNClass" ng-repeat="distractor in scenario.interactions[0].distractors" ng-class="{isTrue:distractor.isRightAnswer}" ng-init="promoteDistractorCount(distractor)" style="position:absolute;">
            
            <div class="myDistractorPollClass" ng-style="{'height':(800)}"></div>

            <div ng-style="{'margin-top':(distractor.index * 25)}" >
                <div ng-style="{width:distractor.lineWidth,'margin-right':distractor.lineWidth * distractor.lineDirection}" class="arrow"></div>
                <div class="circle"><i class="glyphicon glyphicon-one-fine-full-dot"></i></div>
                <div ng-click="toggle()" class="circle"><i class="glyphicon glyphicon-one-fine-full-dot"></i></div>

                <!--<img ng-click="toggle()" src="" alt="" class="circle" />-->
                <span class="myAnswersSpanClass" ng-show="isShowDistractors">
                    {{distractor.text}}

                </span>
                <div class="myAnswersLinkSpanClass" ng-show="isShowDistractors" ng-click="answerClickToLink(distractor)"> </div>

            </div>
            <div ng-init="linkInitDistrctors(distractor,scenario)"></div>
        </li>

    </ul>

    <!--<img ng-src="images/{{btnURL[btnarr]}}" alt="" ng-modle="btnarr" ng-click="changeBTN()" />-->
    <!--<button ng-modle="btnarr" ng-click="change()">{{btnTxt[btnarr]}}</button>-->
</div>
