<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title" ng-modal="myTempScenario">{{myTempScenario.myMovName}}</h1>
                <div>{{myCurrentmovIndex}}</div>


    </div>
    <div class="modal-body">

        <div ng-init="onYouTubeIframeAPIReady()" class="myYoutubeIfreamPreview">
            <div id="player">

            </div>

        </div>
        <div id="myBreadCrumbsHolder">
            <ul>
                <li ng-repeat="breadcrumbScenario in previewBreadcrumbsArray" ng-click="breadCrumbClick(breadcrumbScenario, $index)">{{breadcrumbScenario.myMovName}}</li>
            </ul>

        </div>

        <div id="questionBackPreviewModal" ng-show="isEndMovie">
            <div class="myUserQueAndDistractorCollapsePreviewModalClass">
                <h3 class="myUserQueClass">{{scenario[0].interactions[0].text}}</h3>

                <ul>
                    <li class="myUserDistractorPrevireModalClass btn btn success" ng-repeat="distractor in myTempScenarioDistractors" ng-modal="myTempScenarioDistractors" ng-click="gotoNextMovie(distractor,scenario)">{{distractor.text}}</li>

                </ul>

            </div>
    </div>
    </div>
    <div class="modal-footer">
        <div class="btn btn-warning" ng-click="exitPreviewModal()">סגור </div>

    </div>
</div>

