<div class="modal-content">
    <div class="modal-header"><h1>הוספת פעילות חדשה</h1></div>
    <div class="modal-body">
        <div>
       <label class="col-md-12">שם הפעילות:</label>
       <input id="activityName" type="text" ng-model="myActivityName"/>שם פעילות
            </div>
        <div>
       <label class="col-md-12">תיאור הפעילות:</label>
       <input id="activityDescription" type="text" ng-model="myActivityDescription"/>תיאור פעילות
            </div>
    </div>
    <div class="modal-footer">
        <div class="btn btn-danger" ng-click="closeNewActivityPopUP()">סגירת פעילות</div>

    </div>
    </div>