<div class="lilachTraying">

 

    <div class="freezLine" ng-style="{width:((dataService.activities[0].scenarios.length + 1) * 150) + 'px'}">
              <div class="btn recomendedScenariosBtn">הגדר תרחיש מומלץ
                  <i class="glyphicon glyphicon-pencil"></i>
              </div>
        <h1>{{dataService.activities[0].activitycodeName}}</h1>
  
        <ul class="mainMoviesDiv">
            <li class="myscene" ng-repeat="scenario in dataService.activities[0].scenarios" ng-mouseenter="scenario.hoverYellowSceneElements = true" ng-mouseleave="scenario.hoverYellowSceneElements = false">
                <scenario-top scenario="scenario"></scenario-top>
            </li>
            <li class="addScenarioBTNClass" ng-click="openAddMovieDialog(scenario)"></li>
        </ul>



    </div>

    <div class="bottomDivElements" ng-style="{width:((dataService.activities[0].scenarios.length + 1) * 150) + 'px'}">
        <ul class="mainMoviesDiv">
            <li class="myscene" ng-repeat="scenario in dataService.activities[0].scenarios" ng-mouseenter="scenario.hoverYellowSceneElements = true" ng-mouseleave="scenario.hoverYellowSceneElements = false">
                <scenario-bottom scenario="scenario"></scenario-bottom>
            </li>
        </ul>
    </div>
       <div class="btn btn-danger" ng-click="createScenario()">צור סנריו</div>
    <ul>

    <li ng-repeat="scenario in scenarios" ng-click="getScenarios(scenario)">{{scenario.attributes.name}}</li>
</ul>
</div>
