
<div class="row marketing">

  <!--<input type="text" ng-model="myInput" value="{{myInput}}"/>
    <input type="button" ng-click="clicktoOpen" value="123">-->

    <!--<scenario data="myCasesActivities[0].scenarios[0]"></scenario>-->






  <!--<h4>myList</h4>
    <ul>
        <li ng-repeat="item in awesomeThings">{{item.a}}</li>
    </ul>
    <div>
        {{awesomeThings[1]}}
    </div>
    {{duplicate(myInput,myInput2)}}
    <div>
        <input type="text" ng-model="myInput" name="name" value=" " />
        <input type="text" ng-model="myInput2" name="name" value=" " />
    </div>
    <div ng-controller="aaaCtrl">
        {{shavit}}
        {{duplicate(3,3)}}
    </div>
    <button ng-click="clearInputs();">shavit</button>
    <div id="player">
    </div>-->
</div>
