<div class="modal-content">
    <div class="modal-header">

        <h1 class="modal-title">אודות</h1>
    </div>
    <div class="modal-body">
inTree@ctive - מחולל תרחישי וידאו אינטראקטיביים 
        <br />
              פותח על-ידי: לילך גל ותמר גולן
        <br />
        במסגרת פרוייקט גמר 2015, המחלקה לטכנולוגיות למידה
        <br />
        מנחים אקדמיים: שביט כהן ואורן בן-אהרן
        <br />


        תודה מיוחדת לאהרון אמיתי 'אמיתי- עזרה ראשונה'

    </div>
    <div class="modal-footer">
        <div style="float:left;" class="btn btn-danger" ng-click="closeModal()">סגור</div>

    </div>
</div>
