<div class="modal-content">
    <div class="modal-header">

        <h1 class="modal-title">inTree@ctive - מחולל תרחישי וידאו אינטראקטיביים</h1>
    </div>
    <div class="modal-body aboutUsTextClass">
<b>פותח על-ידי: </b>לילך גל ותמר גולן
        <br />
        במסגרת פרוייקט גמר 2015, <a href="http://www.hit.ac.il/telem/overview">המחלקה לטכנולוגיות למידה</a>, <a href="http://www.hit.ac.il">HIT</a>
        <br />
      
        <b>מנחים אקדמיים:</b>
         שביט כהן ואורן בן-אהרן
        <br />
        <br />
        תודה מיוחדת לאהרון אמיתי 'אמיתי- עזרה ראשונה'
    </div>
    <div class="modal-footer">
        <div style="float:left;" class="btn btn-danger" ng-click="closeModal()">סגור</div>

    </div>
</div>
