<div class="modal-content">
    <div class="modal-header">

        <h1 class="modal-title">אודות</h1>
    </div>
    <div class="modal-body aboutUsTextClass">
        <div class="editMovModalAlign">
            <h2><b>inTree@ctive</b><br /> מחולל תרחישי וידאו אינטראקטיביים</h2>
            <b>פותח על-ידי: </b>
            <a href="https://il.linkedin.com/pub/lilach-gal/54/a27/480" target="_blank">לילך גל</a> ו<a href="https://www.linkedin.com/pub/tamar-golan/45/105/b14" target="_blank">תמר גולן</a>.
            <br />
            במסגרת פרוייקט גמר 2015, <a href="http://www.hit.ac.il/telem/overview" target="_blank">המחלקה לטכנולוגיות למידה</a>.
            <br />

            <b>מנחים אקדמיים:</b>
            שביט כהן ואורן בן-אהרן
            <br />
            תודה מיוחדת לאהרון אמיתי 'אמיתי- עזרה ראשונה'
            <br />
            <br />

            <a href="http://www.hit.ac.il" target="_blank">
                <img src="../images/aboutHitLogo.jpg" style="margin-top: -13px;"/>
                </a>
</div>
    <div class="modal-footer">
        <div style=" float:left;">
           
            <div class="btn saveInteractionBTN" ng-click="closeModal()">סגור</div>
        </div></div>
        </div>
</div>
