

<div class="modal-content" ng-init="checkIfExist(scenario)">

    <div class="modal-header">

        <h1 class="modal-title" ng-model="headlingOfAddScene">{{headlingOfAddScene}}</h1>
    </div>
    <div class="modal-body">
            <h2 class="modalheadlineH2">שם הסצינה:</h2>

            <input class="form-control" id="SceneName" type="text" ng-model="myscenarioName" maxlength="20" />
            <h2 class="modalheadlineH2">קישור לסרטון ב-Youtube:</h2>
            <input id="youtubeURL" class="form-control" type="text" ng-model="myUrl" />
            <input style="display: inline-block;" class="btn loadMovBTN" id="Button1" type="button" value="טען" ng-click="youtube_parser(myUrl)" />

            <div>
                <div id="player" class="myYoutubeIfreamPreview" >
                    <input class="placeHolderYoutubePreClass" type="text" placeholder="תצוגה מקדימה"/>

                </div>
            </div>
        <!-- ירד זמנית לשלב הערכה -->
        <!--<div class="row">
            <input id="myEndTimeTXT" class="col-md-3 col-md-offset-1 form-control " type="number" ng-model="myEndTime" ng-change="myPlayerChangeFunc(scenario)"/>

            <input id="myStartTimeTXT" class="col-md-3 col-md-offset-4 form-control" type="number" ng-model="myStartTime" ng-change="myPlayerChangeFunc(scenario)"/>


        </div>-->
        
    </div>
    <div class="modal-footer">
        <div style="float:left;">

            <!--<div>{{scenario.myMovName}}</div>-->
            <input class="btn btn-danger" type="button" value="בטל" ng-click="closeModal()" />
            <div class="btn saveMovBTN" ng-model="movModalBTN" ng-click="addToJason()" ng-disabled="isSaved">{{movModalBTN}}</div>



        </div>
    </div>

</div>