<div class="modal-content">
    <div class="modal-header">

        <h1 class="modal-title">מחיקת פעילות</h1>
    </div>
    <div class="modal-body">
        <p>האם אתה בטוח שברצונך למחוק את הפעילות וכל התוכן שהוגרה עבורה?</p>
    <div class="modal-footer">
        <div style=" float:left;">
         


            <div class="btn btn-danger" ng-click="closeModal(false)">בטל</div>
            <div class="btn saveInteractionBTN" ng-click="closeModal(true)">מחק</div>
        </div>
    </div>
        </div>
</div>
