<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title">{{headerText}}</h1>
    </div>
    <div class="modal-body">
        {{bodyText}}
    </div>
    <div class="modal-footer">
        <div style="float: left;">
            <input class="btn btn-danger" type="button" value="{{cancelButtonText}}" ng-click="closeModal(false)" />
            <input class="btn saveInteractionBTN" type="button" value="{{okButtonText}}" ng-click="closeModal(true)" />
            </div>

        </div>
</div>









