<div class="modal-content">
    <div class="modal-header modal-title"><h1 ng-model="newActivityHeader">{{newActivityHeader}}</h1></div>
    <div class="modal-body">
        <div>
       <label class="col-md-12">שם הפעילות:</label>
       <input id="activityName" type="text" ng-model="myActivityName" maxlength="30"/>

            </div>
        <div>
       <label class="col-md-12">תיאור:</label>
            <textarea id="activityDescription" type="text" ng-model="myActivityDescription" maxlength="100"></textarea>

        </div>
    </div>
    <div class="modal-footer">
        <div class="btn btn-danger" ng-click="closeNewActivityPopUP(1)">שמור והמשך</div>
        <div class="btn btn-danger" ng-click="closeNewActivityPopUP(2)">בטל</div>
    </div>
    </div>