
<div class="lilachTraying editorActivitiesNgGridBackgroung">
       <h3 class="logOutUserNameClass">{{myCourrentUser}}</h3> <span class="logOutBTNClass" ng-click="logOutFunc()"> (יציאה)</span>
        <div class="freezLine" ng-style="{width:((dataService.currentActivity.scenarios.length + 1) * 113) + 'px'}">

       <div class="floating">

            <div class="ActivityNameH1">{{activityName}}</div>
             <div class="btn recomendedScenariosBtn" ng-click="recommendedScenariosOpenTheModal(scenario)">
                הגדר תרחיש מומלץ
                <i class="glyphicon glyphicon-pencil"></i>
            </div>
           <div class="myCurrentTimeClass">נשמר לאחרונה ב:{{dataService.myCurrentTime}}</div>

               </div>
            <ul class="mainMoviesDiv">
                <li class="myscene" ng-repeat="scenario in dataService.currentActivity.scenarios" ng-mouseenter="scenario.hoverYellowSceneElements = true" ng-mouseleave="scenario.hoverYellowSceneElements = false">
                    <scenario-top scenario="scenario"></scenario-top>
                </li>
                <li class="btn addScenarioBTNClass" ng-click="openAddMovieDialog(scenario)">
                    <i class="glyphicon glyphicon-plus-sign myPlusAddScaenBTN"></i>הוסף סצינה
                </li>
            </ul>



        </div>

        <div class="bottomDivElements" ng-style="{width:((dataService.currentActivity.scenarios.length + 1) * 113) + 'px'}">
            <ul class="mainMoviesDiv">
                <li class="myscene" ng-repeat="scenario in dataService.currentActivity.scenarios" ng-mouseenter="scenario.hoverYellowSceneElements = true" ng-mouseleave="scenario.hoverYellowSceneElements = false">
                    <scenario-bottom scenario="scenario"></scenario-bottom>
                </li>
            </ul>
        </div>


        <ul></ul>
    </div>
