<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title" ng-modal="myTempScenario">{{myTempScenario.name}}</h1>


    </div>
    <div class="modal-body">

        <div ng-init="onYouTubeIframeAPIReady()" class="myYoutubeIfreamPreview">
            <div id="player"></div>

        </div>
        <div id="questionBackPreviewModal" ng-show="isEndMovie">
            <div class="myUserQueAndDistractorCollapsePreviewModalClass">
                <h3 class="myUserQueClass">{{myTempScenario.interactionText}}</h3>
                <h3 ng-show="isMyEndMessege">{{myEndMessege}}</h3>

                <ul>
                    <li class="myUserDistractorPrevireModalClass btn btn success" ng-repeat="distractor in myTempScenarioDistractors" ng-modal="myTempScenarioDistractors" ng-click="gotoNextMovie(distractor,scenario)">{{distractor.text}}</li>

                </ul>

            </div>
    </div>
        <div ng-show="ifIsRecommended" id="myBreadCrumbsHolder" >
            <ul class="breadCrumbsBakClass">
                <li ng-repeat="breadcrumbScenario in previewBreadcrumbsArray" ng-click="breadCrumbClick(breadcrumbScenario, $index)">{{breadcrumbScenario.name}}</li>
            </ul>

        </div>

        
    </div>
    <div class="modal-footer">
        <div style="float: left;">
            <div class="btn btn-danger" ng-click="exitPreviewModal()">בטל</div>
            <div class="btn saveInteractionBTN" ng-show="ifIsRecommended" ng-click="saveRecommendedScenarios()">שמור תרחיש מומלץ</div>
        </div>
        </div>
</div>

