<div class="modal-content">
    <div class="modal-header">

        <h1 class="modal-title">קוד הטמעה</h1>
    </div>
    <div class="modal-body" >
        <h4>העתק קוד הטמעה זה ושלב אותו בין תגי ה-HTML באתר שלך</h4>
        <textarea dir="ltr" style="width:450px; height:75px;">{{EmbbedCode}}</textarea>
        <div class="modal-footer">
            <div style=" float:left;">

                <div class="btn saveInteractionBTN" ng-click="closeModal()">סגור</div>
            </div>
        </div>
    </div>
</div>
