<div class="bg userScreen">
    <div class="myContainerMainDiv">
        <div id="player" class="myYoutubeIfreamUser"></div>
      <div ng-if="isEmbedding" class="embeddingStrip">
          <a href="http://intreeactive.telem-hit.net/#/" target="_blank">inTree@ctive</a> | <a href="http://www.hit.ac.il/telem/overview" target="_blank">המחלקה לטכנולוגיות למידה</a>, <a href="http://www.hit.ac.il/" target="_blank">HIT</a></div>

        <div class="UserquestionBack" ng-show="isEndMovie">
            <div class="myUserQueAndDistractorCollapseClass">
                <h3 class="myUserQueClassUser2" ng-model="myUserQueText">{{scenario.attributes.interactions[0].attributes.text}}</h3>
                <ul><li class="UsermyUserDistractorClass btn btn success" ng-repeat="distractor in scenario.attributes.interactions[0].attributes.distractors" ng-click="gotoNextMovie(distractor)">{{distractor.attributes.text}}</li></ul>
            </div>

        </div>
    </div>
</div>
