<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title">תרחיש מומלץ</h1></div>
    <div class="modal-body">
        <div id="greetingsText">
                    עורך יקר,
התרחיש המומלץ הוא המשוב שיופיע למשתמשים בתום הסימולציה.
        <br />
אנא בחר את הנתיב הנכון ביותר לסיטואציה.</div>

    </div>
    <div class="modal-footer">
                <div class="btn btn-danger" ng-click="ClosesettingRecommendedScenarios()">בטל</div>

        <div class="btn btn-primary" ng-click="settingRecommendedScenarios()">התחל</div>

    </div>
    </div>