

       <img alt="" src="../images/road.jpg" class="bg" />


 <div class="startPageContainerBody">
   
            <div class="loginPopupBackground">

        <!--<ul class="loginPopupHeadlineColor">

            <li ng-click="toggleToSignUpSignIn(true)">להירשם</li>
            
             <li ng-click="toggleToSignUpSignIn(false)">להתחבר</li>
             <div ng-class="{'signUpSelected':signInorSignUpSelected}"></div>
            <div ng-class="{'signInSelected':!signInorSignUpSelected}"></div>

        </ul>-->
        <div class="loginPopupBackgroundAlign">
            <h1 ng-show="!signInorSignUpSelected">התחברות</h1>
            <h1 ng-show ="signInorSignUpSelected">הרשמה</h1>
            <h2 class="loginPopupH2HeadlineColor">הקלד כתובת דוא"ל</h2>
            <input type="text" class="loginPopupTextInputBack" ng-model="LoginEmailAdress" />
            <h2 class="loginPopupH2HeadlineColor" >הקלד סיסמה</h2>
            <input type="password" class="loginPopupTextInputBack" ng-model="LoginPassword" />
            <ul>
                <li class="btn loginBtn" ng-click="login()" ng-show="!signInorSignUpSelected">התחברות</li>
                <li class="btn loginBtn" ng-click="signIn()"ng-show="signInorSignUpSelected">הרשמה</li>
            </ul>
          
            <h3 ng-show="!signInorSignUpSelected" class="signUporLoginQue">לא רשום עדיין?</h3><span ng-show="!signInorSignUpSelected" ng-click="toggleToSignUpSignIn(true)" class="signUporLogin"> הירשם!</span>
            <h3 ng-show="signInorSignUpSelected" class="signUporLoginQue">כבר רשום?</h3><span ng-show="signInorSignUpSelected" ng-click="toggleToSignUpSignIn(false)" class="signUporLogin"> התחבר!</span>

           
            <div class="yourSignUpRequstAcceptedClass" ng-show="yourSignUpRequstAccepted">{{userLoginNotification}}</div>

            <!--loginPopupSignUp-->
        </div>
        
    </div>
     <h3 class="loginPopupH3HeadlineColor">user:email@example.com<br /> password:1234</h3>
        </div>
