<div class="row marketing">


    <div class="myUserSummaryAlign">
        
       <ol class="userSummaryRows">

         <li class="userSummaryRowsLi" ng-repeat="row in dataService.scenarioLengthforSummary"><div class="rowDiv_{{$index}}" ng-class="checkingeditorUserDifferences($index)"></div></li>

        </ol>
        
   
            <div class="userSummaryR">
        <h3 class="userSummaryH">Your Scenario</h3>
                <ol class="userScenariosList">
                    <li class="youtubeoHolderuserSummary" ng-repeat="userScenario in dataService.userClickedScenariosSummary">
                        <div class="youtubeoHolderForUserSummary" >
                            <div class="youtubeoHolderTEXTForUserSmmary">{{userScenario.name}}</div>

                        </div>
                        <img ng-src="http://img.youtube.com/vi/{{userScenario.videoId}}/1.jpg" alt="" height="70"  width="200"/>
                        <i class="userSummaryArrow" ng-show="!$last"></i>

                    </li>

                </ol>
                 </div>
              <br />
        <div class="userSummaryL">
        <h3 class="userSummaryH">Best Scenario</h3>
            <ol class="editorScenariosList">
                    <li class="youtubeoHolderuserSummary" ng-repeat="editorScenario in dataService.currentActivity.attributes.recommendedScenarios">
                        <div class="youtubeoHolderForUserSummary" >
                            <div class="youtubeoHolderTEXTForUserSmmary">{{editorScenario.name}}</div>

                        </div>
                        <img ng-src="http://img.youtube.com/vi/{{editorScenario.videoId}}/1.jpg" alt="" height="70"  width="200"/>
                        <i class="userSummaryArrow" ng-show="!$last"></i>

                    </li>

                </ol>
            </div>
    </div>
    

</div>


