       <img alt="" src="../images/decision-makingUser.jpg" class="bg"/>

    <div class="startPageContainerBody">
        <div class="row marketing UserstartPageContainer">
            <div class="userStartPasgeAlign">
                <h1>inTree@ctive</h1>
                <h2>תרחישי וידאו אינטראקטיביים</h2>
                <div class="myOpeningDiv">
                    <div class="myOpeningDivSecondLayer">
                        <h3>קוד פעילות:</h3>
                   <input type="number" ng-model="myCaseCode" class="loginPopupTextInputBack" placeholder="הקלד קוד" />
                <button class="btn userEnterBTN" type="button" title="User" ng-click="codeValidate(myCaseCode)">כניסה</button>
                    </div>
               <div ng-show="!isLoginPossible" class="isLoginPossibleClass">לא ניתן להיכנס, הפעילות טרם הושלמה</div>

                </div>
                
            </div>
             </div>
        </div>