<div id="bottom">

<div class="myDistractorPollClass sceneHoverChilds_border" ng-style="{'min-height':800,'height':250 + (dataService.allDistractorsCount * 25)}" ng-class="{'hoverYellowSceneElements':scenario.hoverYellowSceneElements}"></div>

    <ul ng-repeat="distractor in scenario.interactions[0].distractors">
          <!--<div ng-init="loadArrowsConnections(distractor,scenario)"></div>-->
        <li class="myDistractorBTNClass"  ng-class="{isTrue:distractor.isRightAnswer}" style="position:absolute;" ng-if="scenario.interactions[0].type == 'singleSelection'">



            <div ng-style="{'margin-top':100 + (distractor.index * 25)}" ng-class="{'isLeftArrow':distractor.lineArrowDirection==1,'isRightArrow':distractor.lineArrowDirection==0,'isSelfArrow':distractor.lineArrowDirection==2}">

                <!--<div ng-style="{width:distractor.lineWidth,'margin-right':distractor.lineWidthForMargin * distractor.lineDirection}" ng-class="changeArrowBackgroundStyleGrey($event,scenario,$index)" class="arrow sceneHoverChildsBorderLine currArrowClass_{{scenario.movIndex}}">-->
                 <div ng-style="{width:distractor.lineWidth,'margin-right':distractor.lineWidthForMargin * distractor.lineDirection}" ng-class="changeArrowBackgroundStyleGrey($event,scenario,$index)" class="arrow sceneHoverChildsBorderLine currArrowClass_{{scenario.index}}" ng-if="distractor.lineArrowDirection!=2"></div>
                <div class="arrowHead" ng-style="{'margin-right':distractor.lineWidth * distractor.lineDirection}" ></div>

                 <div class="circle"></div>
<!--           כאן מתחיל הקוד של המסיחים העיגולים-->
                 <div  ng-click="answerClickToLink(scenario,distractor,true)" class="circle">
                     <a tooltip-placement="left"  tooltip="{{distractor.text}}" tooltip-class="customClass">
                     <div ng-class="{'hoverYellowSceneElements_GreenDistractors':scenario.hoverYellowSceneElements, 'hoverOnDistractorGrey':distractor.hoverOnDistractorGrey, 'clickedGreenDistractorToLink':distractor.clickedGreenDistractorToLink}" ng-mouseenter="distractor.hoverOnDistractorGrey = true" ng-mouseleave="distractor.hoverOnDistractorGrey = false"  class="distractorDot myDistractor_{{distractor.distractorIndex}}"><!--ng-mouseleave="removeGreenClass()" ng-mouseenter="addGreenClass()"-->

                     </div>

                     </a>

                 </div>

                    <span class="myAnswersSpanClass" ng-show="isShowDistractors">

                </span>

            </div>

          
        </li>

    </ul>
    
</div>
